body{
font-family: helvetica, arial;
}
.bloqD{

    border: 1px solid gray;
    float: left;
    height: 20px;
}

#content{
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 50px;

}

 #bloqs,#head {
     width: 960px;
     position: relative;
     left: 50%;
     transform: translateX(-50%);
     -moz-transform: translateX(-50%); /* mozilla*/
     -webkit-transform: translateX(-50%); /* safari*/
     -ms-transform: translateX(-50%); /* IE*/
     -o-transform: translateX(-50%); /* opera*/
}
#bloqs,#head{

}

.title{
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    padding: 10px;
    text-decoration: underline;
}
#head .fa,.hora {
    text-align: center;
    color: #00a1c9;
    font-weight: bold;
}
.fa{
    margin-top: 2px;
    font-size: 20px;

}
.dias,.mark{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    background: #f4f4f4;
    height: 22px;
    color: #00a1c9;
}

.hora{
    background: #f4f4f4;
}
.ocupada{
    background: rgba(255, 210, 0, 0.35) !important;
    border: 2px solid black;
    font-weight: bold;
    cursor: pointer;
}

.fa-calendar{
    color: #ff685b;
    font-size: 15px;
    margin-left: 3px;
    margin-right: 3px;
}

.fa-plus-circle{
    margin-left: 3px;
    margin-right: 3px;
    color: rgba(34, 139, 34, 0.73);
    cursor: pointer;
}